:root{
    --dark_color: #0E0B16;
    --medium_dark_color: #2c1191;
    --medium_light_color: #A239CA;
    --light_color: #E7DFDD;
}

.chart{
    border: 1px solid var(--medium_light_color);
    width: 44%;
    height: 250px;
    margin: 10px;
}

.main_line{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_ap{
    width: 100%;
}

.category_title_ap{
    color: var(--light_color);
    font-size: 20px;
}

.welcome_ap{
    text-align: center;
    margin-top: 10px;
    color: var(--light_color);
    font-size: 25px;
}