@import url('https://fonts.googleapis.com/css?family=Roboto');

/* :root{
    --dark_color: #22222E;
    --medium_dark_color: #393A5A;
    --medium_color: #706F8E;
    --medium_light_color: #ADA9BA;
    --light_color: #E9E9E9;
} */
:root{
    --dark_color: #0E0B16;
    --medium_dark_color: #2c1191;
    --medium_light_color: #A239CA;
    --light_color: #E7DFDD;
}
html,body{
    font-family: "Roboto";
    margin: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: var(--dark_color);
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--light_color);
}

.main_line{
    background-color: var(--dark_color);
    color: var(--light_color);
    width: 60%;
    margin-top: 70px;
    margin-left: 20%;
    padding-bottom: 10px;
    min-height: calc(100vh - 170px);
}

.user_title{
    font-size: 20px;
    color: var(--medium_light_color);
    margin: 10px;
}

/*   HERE START STYLES FOR INPUTS   */
input, textarea,select{
    outline-style: none;
    box-shadow: none;
    resize: none;
}

.input_settings, .textarea_settings, .big_textarea_settings, .select_settings, .big_input_settings{
    background-color: var(--dark_color);
    color: var(--light_color);
    border: 0px;
    width: 200px;
    font-size: 20px;
    height: 25px;
    margin: 6px;
    padding: 0px;
    border-radius: 4px;
    border: 2px solid gray;
}

.input_settings:hover, .textarea_settings:hover, .select_settings:hover, .big_textarea_settings:hover, .big_input_settings:hover{
    border: 2px solid var(--medium_light_color);
}

.textarea_settings{
    min-height: 400px;
    min-width: 600px;
    font-size: 18px;
    inline-size: 700px;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
}

.big_textarea_settings{
    min-height: 200px;
    min-width: 1000px;
    font-size: 18px;
    inline-size: 900px;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
}
.big_input_settings{
    width: 1000px;
}
.select_settings{
    height: 29px;
    width: 100px;
}
.input_settings_checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.button_settings {
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 4px;
    border: 0px;
    margin: 6px;
    transition: background-color .2s ease-in-out;
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.button_settings:hover{
    cursor: pointer;
}

.bs1{
    background-color: var(--dark_color);
    color: var(--medium_light_color);
}

.bs1:hover{
    background-color: #231d36;
}

.bs2{
    background-color: var(--medium_light_color);
    color: var(--dark_color)
}

.bs2:hover{
    background-color: #bb50e6;
}

input[type=file]::file-selector-button {
    font-size: 18px;
    height: 25px;
    width: 150px;
    margin: 6px;
    border: none;
    background-color: var(--medium_light_color);
    border-radius: 4px;
    color: var(--dark_color);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #bb50e6;
}

/*      HERE CHECKBOX CHANGE STYLE              */

/* container */
.container {
    margin: 5px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

/* hide checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--light_color);
    border-radius: 4px;
}

/* background hover */
.container:hover input ~ .checkmark {
    background-color: #a39e9d;
}

/* checked background */
.container input:checked ~ .checkmark {
    background-color: var(--medium_light_color);
}

/* hide checkmark */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* display checkmark */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* checkmark */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*      END CHECKBOX CHANGE STYLE              */

/*      END INPUT STYLES      */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
