:root{
    --dark_color: #0E0B16;
    --medium_dark_color: #2c1191;
    --medium_light_color: #A239CA;
    --light_color: #E7DFDD;
}
.main_title {
    margin-top: 10px;
    font-size: 24px;
}

.small_text {
    font-size: 16px;
    color: var(--medium_light_color);
}

.post_pic{
    width:1280px;
    height:720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main_text{
    overflow-wrap: break-word;
}