:root{
    --dark_color: #0E0B16;
    --medium_dark_color: #2c1191;
    --medium_light_color: #A239CA;
    --light_color: #e7dfdd;
}

.settings-options{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.settings-options-element{
    background-color: var(--dark_color);
    color: var(--light_color);
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--medium_light_color);
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
  
  .settings-options-element:hover, .active{
    cursor: pointer;
    background-color: var(--light_color);
    color: var(--dark_color);
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid var(--medium_light_color);
}

.tabcontent {
    display: none;
}

.title_settings{
    color: var(--medium_light_color);
    font-size: 22px;
    margin: 5px;
    padding: 5px;
}

.settings_avatar{
    margin: 6px;
    height: 150px;
}