<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>ANINATION</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin_panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/admin_panel.js"></script>
</head>
<body>

<header th:insert="~{blocks/header :: header}"></header>

<div class="main_line">
    <p>here admin panel</p>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>