<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>ANINATION</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<header th:insert="~{blocks/header :: header}"></header>

<body>

<div class="main_line">
  <div class="main_news">
    <div class="head_news_page">
      <a class="user_title">News</a>
      <a class="button_settings bs2" href="/post_add_request">SEND REQUEST ADD NEWS</a>
    </div>
    <div class="row">
      <a class="element_news" th:each="el : ${posts}" th:href="'/post/' + ${el.id}">
        <img th:src="${el.photoPath}" class="post_pic">
        <p class="first_t"th:text="${el.title}">Title name</p>
        <p class="second_t"th:text="${el.author}">Comp name</p>
      </a>
    </div>
  </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>