<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>ANINATION</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user_template_settings.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/user_settings.js"></script>
</head>
<body onload="setDefaultTab()">

    <header th:insert="~{blocks/header :: header}"></header>

    <div class="main_line">
        <div class="settings-options">
            <a class="settings-options-element" onclick="openTab(event, 'account')" id="dft">
                <p class="text">ACCOUNT</p>
                <div class="border"></div>
            </a>
            <a class="settings-options-element" onclick="openTab(event, 'am_list')">
                <p class="text">ANIME/MANGA LIST</p>
                <div class="border"></div>
            </a>
            <a class="settings-options-element" onclick="openTab(event, 'notifications')">
                <p class="text">NOTIFICATIONS</p>
                <div class="border"></div>
            </a>
            <a class="settings-options-element" onclick="openTab(event, 'other')">
                <p class="text">OTHER</p>
                <div class="border"></div>
            </a>
        </div>

        <!-- Tab content -->
        <div id="account" class="tabcontent">
            <p class="title_settings">ACCOUNT</p>
            <form method="post" th:action="@{/settings/usr}">
                <label>change username:</label>
                <input class="input_settings" type="text" name="username" th:placeholder="${username}"><br>
                <button type="submit" class="button_settings bs2">SAVE</button>
            </form>
            <form method="post" th:action="@{/settings/email}">
                <label>change email:</label>
                <input class="input_settings" type="text" name="email" th:placeholder="${email}"><br>
                <button type="submit" class="button_settings bs2">SAVE</button>
            </form>
            <form method="post" enctype="multipart/form-data" th:action="@{/settings/avatar}">
                <label>Change avatar:</label>
                <input type="file" name="avatar" class="file_input_settings"/><br>
                <button type="submit" class="button_settings bs2">SAVE</button>
            </form>
        </div>

        <div id="am_list" class="tabcontent">
            <p class="title_settings">ANIME/MANGA LIST</p>
        </div>

        <div id="notifications" class="tabcontent">
            <p class="title_settings">NOTIFICATIONS</p>
        </div>

        <div id="other" class="tabcontent">
            <p class="title_settings">OTHER</p>
            <input class="input_settings" type="text">
            <br>
            <select class="select_settings">
                <option>1test</option>
                <option>2test</option>
                <option>3test</option>
                <option>4test</option>
            </select>
            <br>
            <input type="file" class="file_input_settings"/>
            <br>
            <label class="container">TEXT
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <button class="button_settings bs1">CANCEL</button>
            <button class="button_settings bs2">SAVE</button>
            <br>
            <textarea class="textarea_settings"></textarea>
        </div>
    </div>

    <footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>