<div class="menu" th:fragment="header">
    <header>
    <div class="main_header">
        <a class="dropdown_header_element header_element" href="#" sec:authorize="hasAuthority('ADMIN')">
            <p class="admin_header_label">ADMIN</p>
        </a>
        <a class="a_header" href="/">
            <img src="/img/anination_logo.png" alt="LOGO" class="logo">
            <p class="header_name">ANINATION</p>
        </a>
        <a class="header_element" href="#">
            <p>ANIME</p>
        </a>
        <a class="header_element" href="#">
            <p>MANGA</p>
        </a>
        <a class="header_element" href="/">
            <p>NEWS</p>
        </a>
        <a class="header_element" href="/users">
            <p>USERS</p>
        </a>
        <input placeholder="search" type="text" class="search_header">
    </div>

    <a class="dropdown_header_element header_element" href="/login" sec:authorize="!isAuthenticated()">
        <p>LOGIN</p>
    </a>

    <div class="dropdown" sec:authorize="isAuthenticated()">
        <a class="dropdown-toggle" href="#" th:text="${username}" th:href="@{'/user/' + ${username}}"></a>
        <div class="dropdown-menu">
            <a href="/admin_panel" sec:authorize="hasAuthority('ADMIN')">ADMIN PANEL</a>
            <a href="/post_add" sec:authorize="hasAuthority('ADMIN')">ADD NEWS</a>
            <a href="#">ANIME LIST</a>
            <a href="#">MANGA LIST</a>
            <a href="#">MAIL</a>
            <a th:href="@{'/user/' + ${username} + '/settings'}">SETTINGS</a>
            <a href="#">FAQ</a>
            <form th:action="@{/logout}" method="post" >
                <input type="submit" value="LOGOUT" class="dropdown-logout"/>
            </form>
        </div>
    </div>

    </header>
</div>